<div class="slideInUp">

    <p class="question">{{ question }}</p>

    <ul>
      <li *ngFor="let option of options">
        <label>
          <input
            type="radio"
            [value]="option"
            [(ngModel)]="selectedOption"
            (change)="onSelect()"
            [disabled]="!(selectAnswer$ | async)"
          />
          {{ option }}

          <span *ngIf="
          option != correctAnswer &&
          option === selectedOption"><img src="../../../assets/imgs/error.svg" alt="wrong answer"></span>

          <span *ngIf="
          option === correctAnswer &&
          option === selectedOption"><img src="../../../assets/imgs/success.svg" alt="right answer"></span>
        </label>
      </li>
    </ul>

  </div>