<div class="main-container" *ngIf="!isLoading">

  <div>

    <h1 class="slideInRight">Quiz</h1>

    <div class="timer slideInRight">
      Tempo restante: {{ remainingTime }} s
    </div>

    <app-questions
      *ngIf="questions.length"
      [question]="questions[currentQuestionIndex].question"
      [options]="questions[currentQuestionIndex].options"
      [correctAnswer]="questions[currentQuestionIndex].correctAnswer"
      (answerSelected)="onAnswerSelected($event)"
    ></app-questions>

    <button
    class="slideInLeft"
    (click)="nextQuestion()"
    [disabled]="(selectAnswer$ | async)"
    ><img src="../../../assets/imgs/arrow.svg" alt="next question"></button>

  </div>

</div>

<div class="main-container" *ngIf="isLoading">
  <div class="custom-loader"></div>
</div>