<div class="main-container" *ngIf="!isLoading">

    <h1 class="title slideInRight">
      <svg>
        <text x="50%" y="50%" dy=".35em" text-anchor="middle">
          Quiz
        </text>
      </svg>
    </h1>

    <div class="timer slideInRight">
      Tempo restante: {{ remainingTime }} s
    </div>

    <app-questions
      class="questions"
      *ngIf="questions.length"
      [question]="questions[currentQuestionIndex].question"
      [options]="questions[currentQuestionIndex].options"
      [correctAnswer]="questions[currentQuestionIndex].correctAnswer"
      (answerSelected)="onAnswerSelected($event)"
    ></app-questions>

    <button
    class="slideInLeft"
    (click)="nextQuestion()"
    [disabled]="(selectAnswer$ | async)"
    ><img src="../../../assets/imgs/arrow.svg" alt="next question"></button>

  </div>

<div class="main-container" *ngIf="isLoading">
  <div class="custom-loader"></div>
</div>